.cms-home {
  height: 100%;

  .cms-left {
    height: 100vh;
    position: fixed;
    left: 0;
    box-shadow: rgba(0, 21, 41, 0.35) 2px 0px 6px 0px;;

    .cms-logo {
      height: 35px;
      margin: 15px;
      font-size: 25px;
      text-align: center;
      font-family: "幼圆";
      color: #FFFFFF;
    }

    .cms-menu {
      font-family: "幼圆";
    }
  }

  .cms-right {
    min-height: 100vh;
    margin-left: 200px;

    .cms-header {
      padding: 0 25px;
      margin: 0;
      height: 65px;
      background: #FFFFFF;
      box-shadow: rgba(0, 21, 41, 0.08) 0px 1px 4px 0px;
      position: fixed;
      top: 0;
      width: 100%;

      .cms-user {

        position: absolute;
        top: 0;
        right: 225px;

        .cms-avatar {
          margin: 12px;
        }

        .cms-dropdown {
          font-size: 18px;
          color: rgba(0, 0, 0, 0.7);
        }
      }
    }

    .cms-content {

      margin-top: 65px;

      .cms-content-breadcrumb {
        padding: 15px 25px;
        font-size: 15px;
        font-family: "幼圆";
      }

      .cms-content-body {
        margin: 0 25px 25px 25px;
        padding: 25px;
        background: #FFF;
        height: 700px;
      }
    }

    .cms-footer {
      padding: 0 0 15px 0;
      font-size: 17px;
      text-align: center;
    }
  }
}

